@font-face {
    font-family: 'Gridular';
    src: url('../../fonts/Gridular-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.Gridular{
    font-family: 'Gridular';
}

.block {
    display: block;
}
  
.hidden {
    display: none;
}
