@font-face {
    font-family: 'Roslindale';
    src: url('../../fonts/Roslindale-DeckNarrowRegular-Testing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.fontx{
    font-family: 'Roslindale';
    font-size: 30px;
}