@font-face {
  font-family: 'Roslindale';
  src: url('../../fonts/Roslindale-DeckNarrowRegular-Testing.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.yearTimeline{
  
    width: auto;
    display: flex;
    position: relative;
    padding: 20vh;
  }
  
  .twenty{
    height: 250px;
    width: auto;
    border-bottom: 2px solid white;
    font-size: 150px;
    position: sticky;
    color:white;
    font-family: 'Roslindale';
    top:310px;    /* it tell how far from top 20 should stop scrolling*/
  }

  .year{
    height: 250px;
    width: 300px;
    margin: 0 4px 0 0;
    border-bottom: 2px solid white;
    /* color:white; */
    font-family: 'Roslindale';
    /* color:white; */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* to outline the text with white */
    font-size: 150px;
    font-family: 'Roslindale';
    
    
    
  }
  .x{
    color:aqua;
  }
 
  .changeColor {
    text-shadow: none;
    background-image: linear-gradient(to bottom, #B12054, #D3C1C8, #1E51A3);
      background-clip: text;
      -webkit-background-clip: text; /* For Safari/Chrome */
      color: transparent;
  }